# 1. Concatenate the data from multiple Parquet files into a single DataFrame:

In [18]:
import glob
import pandas as pd

file_list = glob.glob("./data/yellow_tripdata_2024-*.parquet")
file_list

df_trip = pd.concat(
    [pd.read_parquet(file) for file in file_list],
    ignore_index=True,
    sort=False
)

# Read it into the DataFrame
df_trip.to_csv("./data/yellow_tripdata_2024.csv", index=False)

# Display the first 5 rows of the DataFrame
df_trip.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-04-01 00:02:40,2024-04-01 00:30:42,0.0,5.20,1.0,N,161,7,1,29.6,3.5,0.5,8.65,0.0,1.0,43.25,2.5,0.0
1,2,2024-04-01 00:41:12,2024-04-01 00:55:29,1.0,5.60,1.0,N,264,264,1,25.4,1.0,0.5,10.00,0.0,1.0,37.90,0.0,0.0
2,2,2024-04-01 00:48:42,2024-04-01 01:05:30,1.0,3.55,1.0,N,186,236,1,20.5,1.0,0.5,5.10,0.0,1.0,30.60,2.5,0.0
3,2,2024-04-01 00:56:02,2024-04-01 01:05:09,1.0,1.06,1.0,N,137,164,2,10.0,1.0,0.5,0.00,0.0,1.0,15.00,2.5,0.0
4,1,2024-04-01 00:08:32,2024-04-01 00:10:24,1.0,0.70,1.0,N,236,263,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0

In [22]:
df_weather = pd.read_csv("./data/weather_laguardia_airport_2024.csv")
df_weather.head(5)

,STATION,DATE,SOURCE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,CALL_SIGN,QUALITY_CONTROL,...,GA3,GA4,GE1,GF1,MA1,MW1,MW2,OC1,REM,EQD
0,6806599999,2024-01-01T00:20:00,4,46.966667,8.4,450.0,"BUOCHS AIRPORT STANS, CH",FM-15,99999,V020,...,NaN,NaN,"9,AGL ,+99999,+99999","09,99,1,09,1,99,9,00061,1,99,9,99,9","10130,1,99999,9",NaN,NaN,NaN,MET058METAR LSZC 010020Z AUTO VRB03KT 0550 FG ...,NaN
1,6806599999,2024-01-01T00:50:00,4,46.966667,8.4,450.0,"BUOCHS AIRPORT STANS, CH",FM-15,99999,V020,...,NaN,NaN,"9,AGL ,+99999,+99999","99,99,9,02,1,99,9,03658,1,99,9,99,9","10130,1,99999,9",NaN,NaN,NaN,MET059METAR LSZC 010050Z AUTO VRB03KT 1800 BR ...,NaN
2,6806599999,2024-01-01T01:20:00,4,46.966667,8.4,450.0,"BUOCHS AIRPORT STANS, CH",FM-15,99999,V020,...,NaN,NaN,"9,AGL ,+99999,+99999","99,99,9,02,1,99,9,00396,1,99,9,99,9","10130,1,99999,9",NaN,NaN,NaN,MET064METAR LSZC 010120Z AUTO 29003KT 250V330 ...,NaN
3,6806599999,2024-01-01T01:50:00,4,46.966667,8.4,450.0,"BUOCHS AIRPORT STANS, CH",FM-15,99999,V020,...,"07,1,+04267,1,99,9",NaN,"9,AGL ,+99999,+99999","99,99,9,04,1,99,9,00183,1,99,9,99,9","10130,1,99999,9",NaN,NaN,NaN,MET073METAR LSZC 010150Z AUTO VRB02KT 3100 BR ...,NaN
4,6806599999,2024-01-01T02:20:00,4,46.966667,8.4,450.0,"BUOCHS AIRPORT STANS, CH",FM-15,99999,V020,...,NaN,NaN,"9,AGL ,+99999,+99999","99,99,9,07,1,99,9,00244,1,99,9,99,9","10130,1,99999,9",NaN,NaN,NaN,MET066METAR LSZC 010220Z AUTO VRB02KT 2400 BR ...,NaN